body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    background-color: #0a0a0a;
    margin: 0;
    padding: 0;
}